<!--
    TYPE:           nhSonosElement
    TEMPLATENAME:   list
-->
<li class="list-group-item {{bgColor}}" ng-click="onClick()">
    
     <a href="" class="pull-left">                                     
        <img ng-src="{{fhem.Readings.currentAlbumArtURL.Value}}"/>     
    </a>

    <div class="media-body ">        
        <strong>{{text}}</strong>

        <p class="m-b-xs" translate={{fhem.Readings.infoSummarize1.Value}}></p>
		
		<slick ng-if="favourites" init-onload="true" data="favourites" class="slick_weather" infinite="true" slides-to-show="2" slides-to-scroll="2" center-mode="true"
	            responsive="[ { breakpoint: 1024, settings: { slidesToShow: 2, slidesToScroll: 2, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 1, slidesToScroll: 1 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]">
	                
	                <div ng-repeat="item in favourites | limitTo:10" ng-click="startFavourite(item)">
	                    <div class="ibox-content blue-bg text-center">					                    
	                        <span>{{item}}</span>
	                        
		              						                        	
	                    </div>
	                </div>					                
	            </slick>
        
		<div class="row">
			<div class="m-r-md text-center">     
				<ui-knob class="sonos-knob" value="sonos_volume" options="knobstyle" ng-model="sonos_volume"></ui-knob>
			</div>
		</div>
		<div class="row">
			<div class="m-r-md text-center">    
			<button class="btn btn-default btn-circle btn-lg" ng-click="setPlay()" type="button">
				<i class="fa fa-play"></i>
			</button>
			
			<button class="btn btn-default btn-circle btn-lg" ng-click="setPause()" type="button">
				<i class="fa fa-pause"></i>
			</button>
			
			<button class="btn btn-default btn-circle btn-lg" ng-click="setStop()" type="button">
				<i class="fa fa-stop"></i>
			</button>
			</div>
		</div>
		
        <div class="pull-left text-center fw-semi-bold text-gray nowrap">
            Volume:
			<span uib-popover-template="sonosVolumePopover.templateUrl" popover-placement="right" popover-title="{{sonosVolumePopover.title}}" popover-trigger="outsideClick" 
			type="button" class="">
			{{sonos_volume}}
			</span>
			<br/>
			 Bass:
			<span uib-popover-template="sonosBassPopover.templateUrl" popover-placement="right" popover-title="{{sonosBassPopover.title}}" popover-trigger="outsideClick" 
			type="button" class="">
			{{sonos_bass}}
			</span>
			<br/>
			 Treble:
			<span uib-popover-template="sonosTreblePopover.templateUrl" popover-placement="right" popover-title="{{sonosTreblePopover.title}}" popover-trigger="outsideClick" 
			type="button" class="">
			{{sonos_treble}}
			</span>
			<br/>
        </div>
		<br/>
                                  
      
           
      
        <small class="text-muted">{{fhem.Readings.state.Time | date:'dd-MM-yyyy'}}</small>
		
		<a href="" 
			nh-sonos-details data-fhem-devices="PL_ga_PM_mower_Pwr" 
			data-fhem-device-readings= "power" 
			data-fhem-device-readings-texts="{{'CHARTTEXT.MOWER_STATE'|translate}}"
			data-text ="{{'CHARTTEXT.MOWER'|translate}}"  
			data-description = "{{'CHARTTEXT.DESCRIPTION_MOWER'|translate}}"                                             
			data-chart-height="300"
			><span class="pull-right fa fa-cogs"></span>
		</a>		
    </div>                               
</li>