<!--
    TYPE:           nhStateElement           
    TEMPLATENAME:   list_switch
-->

<li class="list-group-item {{bgColor}}">
    
     <a href="" class="pull-left">                                     
        <img class="icon img-circle p-xs m-r-md" ng-src="{{fhem[0].Readings.state.Value === onState && imageOn || imageOff}}" 
                ng-class="{true:'{{imageClassOn}} {{bgColorOn}}',false:'{{imageClassOff}} {{bgColorOff}}'}[fhem[0].Readings.state.Value === '{{onState}}']"/>     
    </a>

    <div class="media-body">  
        
        <strong>{{text}}</strong>
        
        <div class="pull-right">
            <switch id="enabled" name="enabled" on="{{onState}}" off="{{offState}}" ng-model="boolValue[0]" class="wide pull-right {{switchColor}}" ng-change="setControlState(0)"></switch>                                      
        </div>
        <p class="m-b-xs" translate={{fhem[0].Readings.state.Value}}></p> 
        <br/>
       <small class="text-muted">{{fhem[0].Readings.state.Time}}</small> 
       <a href="" ng-if="weekDayTimer" 
            nh-week-day-timer
            data-fhem-name ="{{fhemNames}}" 
            data-fhem-week-day-timer-device="{{weekDayTimer}}"
            
            data-commandos = "{{onState}},{{offState}}"                                      
            ><span class="pull-right fa fa-cogs"></span>
        </a>
    </div>                              
</li>
<!--data-description = "{{'SCHEDULE.DESCRIPTION_PRINTER'|translate}}"-->