<!--
    TYPE:           nhStateElement
    TEMPLATENAME:   list_double_switch
-->

<li class="list-group-item">
    <a href="" class="pull-left">
        <img alt="image" class="icon img-circle p-xs m-r-md" ng-src="{{fhem[0].Readings.state.Value === onState && imageOn || imageOff}}" ng-class="{true:'{{bgColorOn}}',false:'{{bgColorOff}}'}[fhem[0].Readings.state.Value === '{{onState}}']">
    </a>

    <div class="media-body ">        
        <strong>{{text}}</strong>

        
         
                <div class="pull-right">

                    <switch id="enabled0" name="enabled0" on="{{onState}}" off="{{offState}}" ng-model="boolValue[0]" class="wide pull-right {{switchColor}}" ng-change="setControlState(0)"></switch> 

                    <switch id="enabled1" name="enabled1" on="{{onState1}}" off="{{offState1}}" ng-model="boolValue[1]" class="wide pull-right {{switchColor1}}" ng-change="setControlState(1)"></switch>                                                   
              
                </div>                
        <p class="m-b-xs"></p> 
        <br/>
        <small class="text-muted">{{fhem[0].Readings.state.Time}}</small>
    </div>   
</li>