<div class="ngdialog-message">	 								
	<div class="row">		
		<div class="col-xs-12">
             <section class="widget">
        		<header>
		            <h4>
		                <span class="fw-semi-bold">{{text}}</span> {{"_DIALOG_TITLE.SCHEDULE_"|i18n}} 
		            </h4>
		            <!--<div class="widget-controls">
		                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
		            </div>-->
       			</header>
		        <div class="widget-body">
		            <p class="fs-mini text-muted">
		            	<!--<form role="form">-->
						<div class="row">							
							<div class="col-md-offset-2 col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxMo" type="checkbox" checked>
                                    <label for="checkboxMo">
                                        Mo
                                    </label>
                                </div>
							</div>
							<div class="col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxTu" type="checkbox" checked>
                                    <label for="checkboxTu">
                                        Tu
                                    </label>
                                </div>
							</div>
							<div class="col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxWe" type="checkbox" checked>
                                    <label for="checkboxWe">
                                        We
                                    </label>
                                </div>
							</div>
							<div class="col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxTh" type="checkbox" checked>
                                    <label for="checkboxTh">
                                        Th
                                    </label>
                                </div>
							</div>
							<div class="col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxFr" type="checkbox" checked>
                                    <label for="checkboxFr">
                                        Fr
                                    </label>
                                </div>
							</div>
							<div class="col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxSa" type="checkbox" checked>
                                    <label for="checkboxSa">
                                        Sa
                                    </label>
                                </div>
							</div>
							<div class="col-xs-1">
								<div class="checkbox checkbox-primary">
                                    <input id="checkboxSu" type="checkbox" checked>
                                    <label for="checkboxSu">
                                        Su
                                    </label>
                                </div>
							</div>
						</div>									
						<!--</form>-->
		                <div class="row" ng-show="$parent.times[0] && $parent.times[1]">
		                	<div class="col-xs-2">
		                		<div class="padtop40">
		                		{{$parent.fhemDevicesTextsArray[0]}}
		                		</div>
		                	</div>
		                	
							<div class="col-md-offset-1 col-xs-3">		
								<div class="input-group">
								<timepicker ng-model="$parent.times[0]" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>

																				                    
								</div>
							</div>

							<div class="col-xs-offset-1 col-xs-3">
								<div class="input-group">				<timepicker ng-model="$parent.times[1]" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>							              						            
								</div>
							</div>	
						</div>
						<div class="row" ng-show="$parent.times[2] && $parent.times[3]">
							<div class="col-xs-2">
								<div class="padtop40">
		                			{{$parent.fhemDevicesTextsArray[1]}}
		                		</div>
		                	</div>
							<div class="col-md-offset-1 col-xs-3">		
								<div class="input-group">
								<timepicker ng-model="$parent.times[2]" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>

																				                    
								</div>
							</div>

							<div class="col-xs-offset-1 col-xs-3">
								<div class="input-group">				<timepicker ng-model="$parent.times[3]" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>							              						            
								</div>
							</div>	
						</div>
						<div class="row" ng-show="$parent.times[4] && $parent.times[5]">
							<div class="col-xs-2">
								<div class="padtop40">
		                			{{$parent.fhemDevicesTextsArray[2]}}
		                		</div>
		                	</div>
							<div class="col-md-offset-1 col-xs-3">		
								<div class="input-group">
								<timepicker ng-model="$parent.times[4]" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>

																				                    
								</div>
							</div>

							<div class="col-xs-offset-1 col-xs-3">
								<div class="input-group">				<timepicker ng-model="$parent.times[5]" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></timepicker>							              						            
								</div>
							</div>	
						</div>						
		            </p>                    		                       
		        </div>
    		</section>            
        </div>
	</div>

	<div class="ngdialog-buttons">				
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">{{"_DIALOG_BUTTON.CLOSE_"|i18n}}</button>
	</div>
</div>