
<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-area-chart modal-icon"></i>
        <h4 class="modal-title">{{items.text}} {{'DIALOG_TITLE.CHARTS'|translate}}</h4>
        <small class="font-bold">{{items.description}}</small>
    </div>
    
    <div class="">Start
		<div class="dropdown">
		  <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
		    <div class="input-group"><input type="text" class="form-control" data-ng-model="startTime" data-date-time-input="YYYY-MM-DD HH:mm"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    </div>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		    <datetimepicker data-ng-model="startTime" data-on-set-time="getControlData()" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }"/>
		  </ul>
		</div>
	</div>

	<div class="">End
		<div class="dropdown">
		  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
		    <div class="input-group"><input type="text" class="form-control" data-ng-model="endTime" data-date-time-input="YYYY-MM-DD HH:mm"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		    </div>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		    <datetimepicker data-ng-model="endTime" data-on-set-time="getControlData()" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
		  </ul>
		</div>						
	</div>
    <div class="modal-body">
        <nvd3 options='statisticsOptions' data='statisticsData'></nvd3>	
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="closeDialog()">{{'DIALOG_BUTTON.CLOSE'|translate}}</button>
    </div>
</div>