<a class="tile double {{bgColor}}"> 
   <!-- <div class="tile-content">         
    	<div class="grid">	
    		<div class="span3">
    			<img class="padding20" ng-src="{{image}}"/>
	    	</div>
    		<div class="span9">
        		<div class="text-right padding10 ntp">        	
            		<h1 class="fg-white no-margin">{{fhem.Readings["desired-temp"].Value}}&deg;</h1>
            		<p class="fg-white">Current: {{fhem.Readings["measured-temp"].Value}}&deg;</p>
        		</div>       
        	</div>
        </div>
    </div>
	<div class="brand {{brandColor}}">
		<div class="grid">
			<div class="span9">
    		<div class="label">
    			{{brandText}}
    		</div>
    		</div>
    		<div class="span3">
    			<img class="padding20 ntp nrp nbp" ng-src="images/controls/battery_{{fhemGeneral.Readings.battery.Value}}.png"/>
    		</div>
    	</div>
    </div>-->
    <div class="tile-content email">                    
                
        <div class="email-image">
            <img class="tileImage padding20 ntp" ng-src="{{image}}">
        </div>
        <div class="email-data">
            <span class="email-data-title text-right padding10 ntp">
                <h2 class="fg-white">{{fhem.Readings["desired-temp"].Value}}&deg;</h2>
                <span class="email-data-text">Current: {{fhem.Readings["measured-temp"].Value}}&deg;</span>
            </span>
             <!--<span class="email-data-subtitle">{{garbageCalendar.result.items[0].start.date}}</span>-->            
        </div>                                  
    </div>

    <div class="brand {{brandColor}}">
        <span class="label padding20 ntp nbp floatLeft">{{brandText}}</span>
        <!--<span class="badge"
        ng-class="{true:'attention bg-red',false:'bg-green'}[garbageCalendar.result.isTodayOrTomorow]"></span>-->
        <img class="floatRight padding20 ntp nbp" ng-src="images/controls/battery_{{fhemGeneral.Readings.battery.Value}}.png"/>
    </div>
</a> 